<ion-header>
    <ion-toolbar>
        <ion-buttons>
            <ion-back-button defaultHref="/principal" color="plastic">
            </ion-back-button>
            <ion-title color="plastic">
                Cadastro
            </ion-title>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-label>
        Name:
    </ion-label>

    <ion-input color="gray">
    </ion-input>

    <br>

    <ion-label>
        Address:
    </ion-label>

    <ion-input color="gray">
    </ion-input>

    <br>

    <ion-label>
        Address Line 2:
    </ion-label>

    <ion-input color="gray">
    </ion-input>

    <br>

    <ion-label>
        City:
    </ion-label>

    <ion-input color="gray">
    </ion-input>

    <br>
    <br>
    <br>
    <br>

    <!--gambiarra a gente aceita-->
    <ion-label color="realWhite">
        nothing here
    </ion-label>

    <ion-button color="plastic" align="center">
        Register
    </ion-button>
</ion-content>
