<ion-header>
    <ion-toolbar>
        <ion-title>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <!--logo card-->
    <ion-card>
        <img src="/assets/f94955c8-8ed2-4cc4-83f8-e12e83d07778.png" alt="/assets/shapes.svg">
    </ion-card>

    <!--gambiarra a gente aceita-->
    <ion-label color="realWhite">
        nothing here....
    </ion-label>

    <!--open button-->
    <ion-button color="plastic" align="center" size="large" href="/principal">
        Enter
    </ion-button>

    <!---->
</ion-content>
