<ion-header>
    <ion-toolbar>
        <ion-buttons>
            <ion-back-button defaultHref="/reciclaveis-info" color="plastic">
            </ion-back-button>
            <ion-title color="plastic">
                Papel
            </ion-title>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <p>
        <Strong>
            O que recicla:
        </Strong>
    </p>
    <p>
        Papéis de escritório,
        papelão,
        caixas em geral,
        jornais,
        revistas,
        livros,
        listas telefônicas,
        cadernos,
        papel cartão,
        cartolinas,
        embalagens longa-vida,
        listas telefônicas,
        livros.
    </p>
    <p>
        <strong>
            O que não recicla:
        </strong>
    </p>
    <p>
        Papel carbono,
        celofane,
        papel vegetal,
        termofax,
        papéis encerados ou plastificados,
        papel higiênico,
        lenços de papel,
        guardanapos,
        fotografias,
        fitas ou etiquetas adesiva.
    </p>
</ion-content>
