<ion-header>
    <ion-toolbar>
        <ion-buttons>
            <ion-back-button defaultHref="/principal" color="plastic">
            </ion-back-button>
            <ion-title color="plastic">
                    What's Recyclable
            </ion-title>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button color="plastic" size="large" href="/recilacveis-papel">
        Paper
    </ion-button>
    <br>

    <ion-button color="plastic" size="large" href="/recilacveis-metal">
        Metal
    </ion-button>
    <br>

    <ion-button color="plastic" size="large" href="/recilacveis-plastico">
        Plastic
    </ion-button>
    <br>

    <ion-button color="plastic" size="large" href="/recilacveis-vidro">
        Glass
    </ion-button>
    <br>
    <br>
    <br>
    <br>
    <p>
        Source: http://www.ebc.com.br/infantil/voce-sabia/2014/01/que-tipo-de-lixo-dever-ser-reciclado
        <strong>Access in: 06/05/2019</strong>
    </p>
</ion-content>
