<ion-header>
    <ion-toolbar>
        <ion-buttons>
            <ion-back-button defaultHref="/reciclaveis-info" color="plastic">
            </ion-back-button>
            <ion-title color="plastic">
                Plastic
            </ion-title>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <p>
        <strong>
            What recycles:
        </strong>
    </p>
    <ul>
        <li>Bags;</li>
        <li>CDs;</li>
        <li>disquetes;</li>
        <li>cleaning product packaging;</li>
        <li>PET (such as soda bottles);</li>
        <li>tubes and pipes;</li>
        <li>Plastics in general.</li>
    </ul>
    <p>
        <strong>
            What does not recycle:
        </strong>
    </p>
    <ul>
        <li>Thermosetting plastics
        (used in the electro-electronics industry 
        and in the production of some computers, 
        telephones and appliances);</li>
        <li>metallized plastic packaging
        (like those of salty snacks);</li>
        <li>styrofoam.</li>
    </ul>
</ion-content>
