<ion-header>
    <ion-toolbar>
        <ion-buttons>
            <ion-back-button defaultHref="/principal" color="plastic">
            </ion-back-button>
            <ion-title color="plastic">
                How to Recycle
            </ion-title>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <p>
        1- Know what residues you can recycle.
    </p>
    <p>
        2- Locate a recycling center near your location.
    </p>
    <p>
        3- Understand how selective collection works at your location.
        depending on the location the separation is more or less 
        specific. Therefore, organize specific dumps.
    </p>
    <p>
        4- Check out the glasses and plastics. Some of them 
        may display a logo with a numbering that indicates 
        their type. Check local regulations 
        to see which ones are accepted and whether or not 
        they need to be separated from each other.
    </p>
    <p>
        5- Clean the items before recycling. it is important 
        to rinse the food or beverage waste before 
        separating the items into the trash. Cleaning materials 
        facilitates recycling and helps to prevent them from generating
        unpleasant odors in your trash. Another good point 
        is that clean recycling does not attract insects.
    </p>
    <br>
    <br>
    <br>
    <br>
    <p>
        Source:
        https://www.ecycle.com.br/component/content/article/44-guia-da-reciclagem/3240-reciclagem-passo-a-passo-pratico-primeiros-passos-para-reciclar-proteger-meio-ambiente-fauna-diminuir-poluicao-impacto-ambiental-reciclagem-de-lixo-vidro-plastico-papel-lata-posto-de-reciclagem-como-organizar-lixo-reciclavel.html
        <strong>Access in: 06/05/2019</strong>
    </p>
</ion-content>
