<ion-header>
    <ion-toolbar>
        <ion-buttons>
            <ion-back-button defaultHref="/principal" color="plastic">
            </ion-back-button>
            <ion-title color="plastic">
                O Que é Reciclável ?
            </ion-title>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button color="plastic" href="/recilacveis-papel">
        Papel
    </ion-button>
    <br>

    <ion-button color="plastic" href="/recilacveis-metal">
        Metal
    </ion-button>
    <br>

    <ion-button color="plastic" href="/recilacveis-plastico">
        Plástico
    </ion-button>
    <br>

    <ion-button color="plastic" href="/recilacveis-vidro">
        Vidro
    </ion-button>
    <br>
    <br>
    <br>
    <br>
    <p>
        Fonte: http://www.ebc.com.br/infantil/voce-sabia/2014/01/que-tipo-de-lixo-dever-ser-reciclado
        <strong>acesso em 06/05/2019</strong>
    </p>
</ion-content>
