<ion-header>
    <ion-toolbar>
        <ion-buttons>
            <ion-back-button defaultHref="/reciclaveis-info" color="plastic">
            </ion-back-button>
            <ion-title color="plastic">
                Glass
            </ion-title>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <p>
        <strong>
            What recycles:
        </strong>
    </p>
    <ul>
        <li>Bottles of Beverage;</li>
        <li>jars in general;</li>
        <li>jars of food products;</li>
        <li>cups.</li>
    </ul>
    <p>
        <strong>
            What does not recycle:
        </strong>
    </p>
    <ul>
        <li>Mirrors;</li>
        <li>crystals;</li>
        <li>window glass;</li>
        <li>car windows;</li>
        <li>lamps*;</li>
        <li>ampoules of medicines;</li>
        <li>ceramics;</li>
        <li>porcelain;</li>
        <li>TV and computer tubes.</li>
    </ul>
    <br>
    <br>
    <br>
    <br>
    <p>
        <strong>
            * Ideally, this material should be packed and disposed of in places that lead to decontamination.
        </strong>
    </p>
</ion-content>
