<ion-header>
    <ion-toolbar>
        <ion-buttons>
            <ion-back-button defaultHref="/reciclaveis-info" color="plastic">
            </ion-back-button>
            <ion-title color="plastic">
                Vidro
            </ion-title>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <p>
        <strong>
            O que recicla:
        </strong>
    </p>
    <p>
        Garrafas de bebida,
        frascos em geral,
        potes de produtos alimentícios,
        copos.
    </p>
    <p>
        <strong>
            O que não recicla:
        </strong>
    </p>
    <p>
        Espelhos,
        cristais,
        vidros de janelas,
        vidros de automóveis,
        lâmpadas*,
        ampolas de medicamentos,
        cerâmicas,
        porcelanas,
        tubos de TV e de computadores.
    </p>
    <br>
    <br>
    <br>
    <br>
    <p>
        <strong>
            * O ideal é que esse material seja embalado
            e descartado em locais que encaminhem
            para a descontaminação.
        </strong>
    </p>
</ion-content>
