<ion-header>
    <ion-toolbar>
        <ion-buttons>
            <ion-back-button defaultHref="/principal" color="plastic">
            </ion-back-button>
            <ion-title color="plastic">
                Como Reciclar
            </ion-title>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <p>
        1- Conheça quais resíduos você pode reciclar
    </p>
    <p>
        2- Localize um centro de reciclagem perto de você
    </p>
    <p>
        3- Entenda como funciona a coleta seletiva na sua região.
        Dependendo das localidades,a separação é mais ou menos
        específica. Portanto, organize lixeiras específicas.
    </p>
    <p>
        4- Confira os vidros e plásticos. Alguns eles podem
        apresentar um logotipo com uma numeração que indica
        seu tipo. Verifique as regulamentações
        locais para saber quais são aceitos e se
        precisam ou não serem separados uns dos outros.
    </p>
    <p>
        5- Limpe os itens antes de reciclá-los. É importante
        enxaguar os resíduos de comida ou bebida antes
        de separar os itens para o lixo. Limpar os materiais
        facilita a reciclagem e contribui para que não gerem
        cheiro desagradável no seu lixo. Outro ponto positivo
        é que uma reciclagem limpa não atrai insetos.
    </p>
    <br>
    <br>
    <br>
    <br>
    <p>
        Fonte:
        https://www.ecycle.com.br/component/content/article/44-guia-da-reciclagem/3240-reciclagem-passo-a-passo-pratico-primeiros-passos-para-reciclar-proteger-meio-ambiente-fauna-diminuir-poluicao-impacto-ambiental-reciclagem-de-lixo-vidro-plastico-papel-lata-posto-de-reciclagem-como-organizar-lixo-reciclavel.html
        <strong>acesso em: 06/05/2019</strong>
    </p>
</ion-content>
