<ion-header>
    <ion-toolbar>
        <ion-buttons>
            <ion-back-button defaultHref="/reciclaveis-info" color="plastic">
            </ion-back-button>
            <ion-title color="plastic">
                Plástico
            </ion-title>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <p>
        <strong>
            O que recicla:
        </strong>
    </p>
    <p>
        Sacos,
        CDs,
        disquetes,
        embalagens de produtos de limpeza,
        PET (como garrafas de refrigerante),
        canos e tubos,
        plásticos em geral.
    </p>
    <p>
        <strong>
            O que não recicla:
        </strong>
    </p>
    <p>
        Plásticos termofixos
        (usados na indústria eletro-eletrônica
        e na produção de alguns computadores,
        telefones e eletrodomésticos),
        embalagens plásticas metalizadas
        (como as de salgadinhos),
        isopor.
    </p>
</ion-content>
