<ion-header>
    <ion-toolbar>
        <ion-title color="plastic">
            Home
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button color="plastic" size="large" href="/cadastro">Request Collection</ion-button>

    <br>

    <ion-button color="plastic" size="large" href="/como-reciclar">How to Recycle</ion-button>

    <br>

    <ion-button color="plastic" size="large" href="/reciclaveis-info">What's Recyclable</ion-button>

    <br>

    <ion-button color="plastic" size="large" href="/converse">Contact Us</ion-button>

    <br>

    <ion-button color="plastic" size="large" href="/denuncias">Complaints</ion-button>

    <br>
</ion-content>
