<ion-header>
    <ion-toolbar>
        <ion-title color="plastic">
            Home
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button color="plastic" href="/cadastro">Cadastro</ion-button>

    <br>

    <ion-button color="plastic" href="/">Solicitar Coleta</ion-button>

    <br>

    <ion-button color="plastic" href="/como-reciclar">Como Reciclar</ion-button>

    <br>

    <ion-button color="plastic" href="/reciclaveis-info">O Que é Reciclável</ion-button>

    <br>

    <ion-button color="plastic" href="/converse">Converse Conosco</ion-button>

    <br>

    <ion-button color="plastic" href="/denuncias">Denuncias/reclamações</ion-button>

    <br>
</ion-content>
