<ion-header>
    <ion-toolbar>
        <ion-buttons>
            <ion-back-button defaultHref="/reciclaveis-info" color="plastic">
            </ion-back-button>
            <ion-title color="plastic">
                Metal
            </ion-title>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <p>
        <strong>
            What recycles:
        </strong>
    </p>
        <ul>
            <li>Aluminum cans (soda, beer, juice);</li><!--beetlejuice beetlejuice beetlejuice-->
            <li>cans of food products (oil, milk powder, preserves);</li>
            <li>bottle caps;</li>
            <li>metal packaging for frozen foods;</li>
            <li>tinplate.</li>
        </ul>
    <p>
        <strong>
            What does not recycle:
        </strong>
    </p>
    <ul>
        <li>Clips;</li>
        <li>Bobby pins;</li>
        <li>steel sponges;</li>
        <li>tacks;</li>
        <li>nails and pipes.</li>
    </ul>
</ion-content>
