<ion-header>
    <ion-toolbar>
        <ion-buttons>
            <ion-back-button defaultHref="/reciclaveis-info" color="plastic">
            </ion-back-button>
            <ion-title color="plastic">
                Paper
            </ion-title>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <p>
        <Strong>
            What recycles:
        </Strong>
    </p>
    <ul>
        <li>Office papers;</li>
        <li>cardboard;</li>
        <li>general boxes;</li>
        <li>newspapers;</li>
        <li>magazines;</li>
        <li>books;</li>
        <li>phone directories;</li>
        <li>notebooks;</li>
        <li>paper card;</li>
        <li>cardboards;</li>
        <li>long life packaging;</li>
    </ul>
    <p>
        <strong>
            What does not recycle:
        </strong>
    </p>
    <ul>
        <li>Carbon paper;</li>
        <li>cellophane;</li>
        <li>vegetal paper;</li>
        <li>thermofax;</li>
        <li>waxed or plastified paper;</li>
        <li>toilet paper;</li>
        <li>Kleenex;</li>
        <li>napkins;</li>
        <li>photos;</li>
        <li>tapes or adhesive labels.</li>
    </ul>
</ion-content>
