<ion-header>
    <ion-toolbar>
        <ion-buttons>
            <ion-back-button defaultHref="/reciclaveis-info" color="plastic">
            </ion-back-button>
            <ion-title color="plastic">
                Metal
            </ion-title>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <p>
        <strong>
            O que recicla:
        </strong>
    </p>
    <p>
        Latas de alumínio (refrigerante, cerveja, suco),
        latas de produtos alimentícios (óleo, leite em pó, conservas),
        tampas de garrafa,
        embalagens metálicas de congelados,
        folha-de-flandres.
    </p>
    <p>
        <strong>
            O que não recicla:
        </strong>
    </p>
    <p>
        Clips,
        grampos,
        esponjas de aço,
        tachinhas,
        pregos e canos.
    </p>
</ion-content>
